#home {
    text-align: center;

    .invoice-dropzone {
        height: 80vh;
        background: #e6e6e6;
        width: 90%;
        margin: auto;
        display: flex;

        p {
            width: 100%;
        }
    }
}