#invoice-info {
  .react-datepicker__input-container,
  .react-datepicker-wrapper {
    width: 100% !important;
  }

  .block {
    padding: 50px 0;
  }

  .dropzone {
    height: 200px;
    width: 100%;
    background: lightgray;
    margin-bottom: 25px;
    cursor: pointer;

    p {
      text-align: center;
      line-height: 200px;
      font-size: 52px;
    }
  }
}
.narcissus_17w311v {
  position: fixed !important;;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) !important;
  top: 0 !important;
  left: 0 !important;;
  bottom: 0 !important;;
  right: 0 !important;;
  margin: auto !important;;
  width: 500px !important;;
  height: 500px !important;;

  .btn:first-child {
    margin-left: 15px;
  }
}
