#invoice-info {
  .react-datepicker__input-container,
  .react-datepicker-wrapper {
    width: 100% !important;
  }

  .block {
    padding: 50px 0;
  }

  .dropzone {
    height: 200px;
    width: 100%;
    background: lightgray;
    margin-bottom: 25px;
    cursor: pointer;

    p {
      text-align: center;
      line-height: 200px;
      font-size: 52px;
    }
  }
}